:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --font-size: 36px;
  --font-line: 24px;
  --font: var(--font-size-m) / var(--font-line) var(--font-family);

  --sidebar-size: 200px;
  --sidebar-size-collapsed: 80px;

  //   color-scheme: light dark;
  //   color: rgba(255, 255, 255, 0.87);
}
