.app.light {
  --bg-color: rgb(207, 230, 237);
  --bg-invert-color: #fff;

  --bg-active-color: rgb(207, 230, 237);
  --bg-hover-color: rgb(236, 242, 245);

  --primary-color: rgb(16, 7, 181);
  --secondary-color: #808080;
}
